<app-header></app-header>

<ion-content>
    <!-- ------------------ character card ----------------- -->
    <ion-card *ngFor="let character of characters; let i = index;" [routerLink]="['details/' + character.id]">
        <ion-item>
            <ion-avatar slot="start">
                <img [src]="character.image">
            </ion-avatar>
            <ion-label>
                <h2 text-capitalize>{{i+1}}. {{character.name}}</h2>
            </ion-label>
        </ion-item>
    </ion-card>

    <!-- ------------------ loading more charcaters ----------------- -->
    <ion-infinite-scroll threshold="1px" (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Loading more characters...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>



</ion-content>