<app-header title=""></app-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col sizeMd="4" offsetMd="4" *ngIf="dataReceived">
                <div>
                    <ion-card>
                        <ion-card-content class="ion-text-center">
                            <!-- Image -->
                            <img src="{{character.image}}" alt="imagen de personaje {{character.name}}">
                            <!------ Name & Status----->
                            <ion-card-title>
                                {{character.name}}
                            </ion-card-title>
                            <!------ Name & Status----->
                            <p>{{character.status}}</p>
                            <ion-button color="success">
                                <ion-icon name="star"></ion-icon> Favoritos
                            </ion-button>
                        </ion-card-content>
                    </ion-card>
                </div>
                <section>
                    <div *ngFor="let episode of character.episode">
                        <ion-card>
                            <ion-card-content class="ion-text-center">
                                {{episode}}
                            </ion-card-content>
                        </ion-card>
                    </div>
                </section>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>